html {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

li {
    display: inline;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    padding: 0 15px;
}


/* === Header === */
.header {
    text-align: center; 
    border-bottom: 2px solid #515369;  
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.button-logo {
    font-size: 15px;
    font-weight: 1.5;
}

/* .header-list {
    justify-content: space-around;
} */

.header-nav-list-item {
    font-size: 15px;
    font-weight: 1.5;

    text-transform: uppercase;
    padding: 0 10px;
    cursor: pointer;

    transition: color .1s linear;
}

.header-nav-list-item:hover {
    color: rgb(231, 214, 61);

}


/* === Inner === */
.intro-description {
    display: flex;
}